<?xml version="1.0"?>
<robot name="sam_bot" xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="blue">
    <color rgba="0 0 0.8 1" />
  </material>

  <material name="haul">
    <color rgba="0.6 0.6 0.6 1" />
  </material>

  <material name="carbon">
    <color rgba="0.1 0.1 0.1 1" />
  </material>

  <material name="black">
    <color rgba="0 0 0 0.5" />
  </material>

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1" />
  </material>

  <!-- Define robot constants -->
  <xacro:property name="haul_width" value="0.7" />
  <xacro:property name="haul_length" value="3.2" />
  <xacro:property name="haul_over_ground" value="0.2" />


  <xacro:property name="wheel_radius" value="0.10" />
  <xacro:property name="wheel_width" value="0.01" />
  <xacro:property name="carbon_rod_length" value="1" />
  <xacro:property name="wheel_zoff" value="0.05" />
  <xacro:property name="wheel_xoff" value="0.12" />

  <xacro:property name="caster_xoff" value="0.14" />

  <!-- Define some commonly used intertial properties  -->
  <xacro:macro name="box_inertia" params="m w h d">
    <inertial>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}" />
      <mass value="${m}" />
      <inertia ixx="${(m/12) * (h*h + d*d)}" ixy="0.0" ixz="0.0" iyy="${(m/12) * (w*w + d*d)}" iyz="0.0" izz="${(m/12) * (w*w + h*h)}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="cylinder_inertia" params="m r h">
    <inertial>
      <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
      <mass value="${m}" />
      <inertia ixx="${(m/12) * (3*r*r + h*h)}" ixy="0" ixz="0" iyy="${(m/12) * (3*r*r + h*h)}" iyz="0" izz="${(m/2) * (r*r)}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="sphere_inertia" params="m r">
    <inertial>
      <mass value="${m}" />
      <inertia ixx="${(2/5) * m * (r*r)}" ixy="0.0" ixz="0.0" iyy="${(2/5) * m * (r*r)}" iyz="0.0" izz="${(2/5) * m * (r*r)}" />
    </inertial>
  </xacro:macro>

  <!-- TODO use mesh http://wiki.ros.org/urdf/XML/link -->
  <link name="base_link" />

  <link name="base_footprint">
    <xacro:box_inertia m="0" w="0" d="0" h="0" />
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="base_link" />
    <child link="base_footprint" />
    <origin xyz="0.0 0.0 ${-haul_over_ground}" rpy="0 0 0" />
  </joint>

  <link name="haul">
    <visual>
      <origin rpy="0 ${pi/2} 0" />
      <geometry>
        <cylinder length="${haul_length-haul_width}" radius="${haul_width/2}" />
      </geometry>
      <material name="haul" />
    </visual>

    <visual>
      <origin xyz="${haul_length/2-haul_width/2} 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="${haul_width/2}" />
      </geometry>
      <material name="haul" />
    </visual>

    <visual>
      <origin xyz="${-haul_length/2+haul_width/2} 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="${haul_width/2}" />
      </geometry>
      <material name="haul" />
    </visual>

    <collision>
      <geometry>
        <box size="${haul_length} ${haul_width} ${haul_width}" />
      </geometry>
    </collision>
  </link>

  <joint name="haul_joint" type="fixed">
    <parent link="base_link" />
    <child link="haul" />
    <origin xyz="0.0 0.0 ${haul_width/2}" rpy="0 0 0" />
  </joint>

  <link name="carbon_rod">
    <visual>
      <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
      <geometry>
        <cylinder length="${carbon_rod_length}" radius="0.007" />
      </geometry>
      <material name="carbon" />
    </visual>

    <collision>
      <geometry>
        <cylinder length="${carbon_rod_length}" radius="0.007" />
      </geometry>
    </collision>
  </link>

  <joint name="carbon_bar" type="fixed">
    <parent link="base_link" />
    <child link="carbon_rod" />
    <origin xyz="0.0 0.0 0" rpy="0 0 0" />
  </joint>

  <link name="wheel_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 ${pi/2} 0" />
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_width}" />
      </geometry>
      <material name="black" />
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 ${pi/2} 0" />
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_width}" />
      </geometry>
    </collision>
  </link>

  <joint name="wheel_left_joint" type="fixed">
    <parent link="base_link" />
    <child link="wheel_left" />
    <origin xyz="0 ${carbon_rod_length/2} 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
  </joint>

  <link name="wheel_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 ${pi/2} 0" />
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_width}" />
      </geometry>
      <material name="black" />
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 ${pi/2} 0" />
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_width}" />
      </geometry>
    </collision>
  </link>

  <joint name="wheel_right_joint" type="fixed">
    <parent link="base_link" />
    <child link="wheel_right" />
    <origin xyz="0 ${-carbon_rod_length/2} 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
  </joint>

  <link name="imu_link" />

  <joint name="imu_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="0 0 0" />
  </joint>

  <link name="lidar_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.05" />
      </geometry>
      <material name="grey" />
    </visual>
  </link>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar_link" />
    <origin xyz="0 0 ${-haul_over_ground+0.05/2}" rpy="0 0 0" />
  </joint>

  <link name="computer_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.15 0.07 ${haul_over_ground*0.6}" />
      </geometry>
      <material name="grey" />
    </visual>
  </link>

  <joint name="computer_joint" type="fixed">
    <parent link="base_link" />
    <child link="computer_link" />
    <origin xyz="0 0 ${-haul_over_ground*0.3}" rpy="0 0 0" />
  </joint>
</robot>